<h2>Books</h2>
<!--<%= @books.each do |book| %>-->
<!--  <p>Title</p>-->
<!--  <span><%= book.title %></span>-->
<!--    <p>Body</p>-->
<!--  <span><%= book.body %></span>-->

<!--<% end %>-->


<ul>
  <li>Title</li>
  <li>Body</li>
</ul>

<!--↑一覧-->
<!--↓投稿-->
<!--, url: '/books', method: :post -->
<h3>New book</h3>
<!-- form_with部分 -->
<!--投稿できる-->
<%= form_with model: @book, url: '/books', method: :post do |f| %>
<!--<!%= form_with model: @book do |f| %>-->

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>


<!--投稿できない-->
<!--<!%= form_with model: @Book do |f| %>-->




