  <!--showアクションで探してきた@bookの中からtitle,bodyを表示-->
   <p><%= flash[:notice] %></p>

  <p>
    Title:
    <%= @book.title %>
  </p>

  <p>
    Body:
    <%= @book.body %>
  </p>
  
<!--showアクションで探してきたデータ編集する？edit(編集画面へ)-->
<%= link_to "Edit", edit_book_path(@book.id) %> |
<!--back(一覧画面へ)-->
<%= link_to "Back" , books_path %>

